/* app css stylesheet */

body{
  background-color: #337ab7;
}
.foreground{
  background-color: white;
  margin: 0 4em;
  padding: 0 3em;
  border-radius: .5em;
  overflow: auto;
  min-height: 640px;
}

.game {
  margin-top: 1em;
}
.md-4 {
  float: left;
}
.md-8 {
  width: 66%;
  min-width: 660px;
  margin-right: 0.5em;
  float: left;
}
.game h1 {
  color: #844;
  padding-bottom: .5em;
  margin-bottom: 1em; 
  text-align: center;
  border-bottom: solid 2px #337ab7;  
}

.settings {
  margin-top: .2em;
}
.settings input {
  margin-right: 1em;
}
button {
  padding: 6px 12px;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.spec {
  width: 60px;
  display: inline;
}
input {
  margin-bottom: .3em;
  border-radius: .4em;
}
button {
  border-radius: .4em;
}

table#board {
  margin-top: .6em;
}
table#board td {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
  border: solid 1px #ddd;
}
table#board td.new {
    background-color: #efe;
}
table#board td.die {
    background-color: #fee;
}

.oldTurns { 
  border: solid 2px #337ab7;
  border-radius: .8em;
  height: 35em;
  margin-bottom: 2em;
}
.oldTurns .historyInfo {
  padding: .3em 1.5em;
  border-bottom: solid 2px #337ab7;
}
.oldTurns h3 {
  margin: .2em 0;
}
.oldTurns .steps {
  overflow-y: scroll;
  max-height: 27em;
}
.oldTurns li {
  list-style-type: none;
  cursor: pointer;
}