<div>
        
	<h1>Rex's Game of Life</h1>
	Height: <input type="text" ng-model="height" />
	Width: <input type="text" ng-model="width" />
	<button ng-click="newGame()">New</button>
	<button ng-click="next()">Next</button>

	<table id="board">
	    <tr ng-repeat="row in board track by $index">
	        <td ng-repeat="cell in row track by $index" ng-click="toggle($parent.$index, $index)"
	            class="{{cellClass($parent.$index, $index)}}">
	           <span ng-show="cell">O</span>
	        </td>
	    </tr>
	</table>
  
</div>